
@font-face {
  font-family: 'Centaur';
  src: url('Centaur.eot?#iefix') format('embedded-opentype'),  url('Centaur.woff') format('woff'), url('Centaur.ttf')  format('truetype'), url('Centaur.svg#Centaur') format('svg');
  font-weight: normal;
  font-style: normal;
}
