
@font-face {
  font-family: 'Centaur';
  src: url('CentaurMT-Italic.eot?#iefix') format('embedded-opentype'),  url('CentaurMT-Italic.woff') format('woff'), url('CentaurMT-Italic.ttf')  format('truetype'), url('CentaurMT-Italic.svg#CentaurMT-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
