.photo {
  height:100%;
}
.portrait-img {
  height:100%;
  width:100%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  position:relative;
}

.portrait-img .caption {
  text-align:center;
  position:absolute;
  width:100%;
  bottom:0;
  color:#FFF;
  letter-spacing:5px;
  font-size:1.75rem;
  padding:100px 25px 50px 25px;
}
.portrait-img .caption h3 {
  display:none;
}
.portrait-img .flip-icon {
  position:absolute;
  bottom:25px;
  right:35px;
  height:41px;
  width:41px;
}

.portrait-text {
  padding-top:125px;
}
.portrait-text h3 {
  font-size:3rem;
  letter-spacing:5px;
  margin-bottom:0;
}
.portrait-text h4 {
  font-size:2.3rem;
  letter-spacing:3px;
  margin-bottom:5rem;
}
.portrait-text p {
  font-size:2.1rem;
  margin-top:3rem;
}

.portrait-text q {
  font-size:2rem;
}
.quote-caption {
  font-size:2rem;
}
.portrait-text .first-letter::first-letter {
  line-height:1.1;  
}

/**
 * Portrait orientation
 */
.orientation-portrait .portrait .pane {
  float:none;
  width:100%;
}
.orientation-portrait .portrait-text {
  padding:125px 175px;
  
  /* Basically a modal box in portrait */
  top:0;
  z-index:-1000;
  opacity:0;
  /*transition: all .5s ease;*/
  width:100%;
  height:100%;
  position:absolute;
  overflow-y:auto;
  overflow-x:hidden;
  transform: translateZ(0); 
}
.orientation-portrait .portrait-text.open {
  top:0;
  opacity:1;
  transition: opacity .3s ease;
  z-index:9;
}
.orientation-portrait .portrait-text.close {
  transition: opacity .3s ease;
}

.orientation-portrait .portrait-img-wrap {
  background-color:#141414;
}
.orientation-portrait .portrait-img {
  background-size:contain;
}
.orientation-portrait .portrait-img .flip-icon {
  display:none;
}
.orientation-portrait .portrait-img .caption h3 {
  color:#FFF;
  text-transform:uppercase;
  font-size:2.5rem;
  letter-spacing:5px;
  margin-bottom:0;
  display:block;
}
.orientation-portrait .portrait-img .caption {
  background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0, .4));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0, .4));
}


