/**
 * Modal windows hidden by default
 */
.modal {
  top:0;
  z-index:-1000;
  opacity:0;
  /*transition: all .5s ease;*/
  width:50%;
  height:100%;
  color:#fff;
  background-color:#1a1a1a;
  position:absolute;
  overflow-y:auto;
  overflow-x:hidden;
  transform: translateZ(0);  
}
.modal a {
  color:#fff;
}
.modal.open {
  top:0;
  opacity:1;
  transition: opacity .1s ease-in;
  z-index:9;
}
.modal.close {

}
.modal-left {
  left:0;
}
.modal-right {
  right:0;
}
.modal-audio {
  left:0;
}
.modal-video {
  left:0;
}
.modal-audio.close,
.modal-video.close,
.modal-audio.open,
.modal-video.open {
  transition:none;  
}

/**
 * Modal Trigger Buttons
 */
.modal-button {
  cursor:pointer;
  background:#FFFFFF;
  border:solid #eee 2px;
  color:#A84E15;
  position:absolute;
  z-index:10;
  overflow:hidden;
  font-size:4rem;
  line-height:0;
}
.modal-button.open {
  background:#000;
  color:#FFF;
  border:solid 1px #000;
}
.modal-toggle-left {
  top:2rem;
  left:2rem;
}
.modal-toggle-right {
  top:2rem;
  right:2rem;
}
.modal-toggle-audio {
  top:2rem;
  left:8rem;
}
.modal-toggle-video {
  top:2rem;
  left:14rem;
}
.modal-button i {
  display:inline-block;
}


/**
 * Chapter Index
 */
.section-jump {
  padding:75px;
  text-align:center;
}
.section-jump h2.title {
  color:#333333;
  text-align: center;
  font-size: 15px;
  font-family:'Source Sans Pro', 'Helvetica', sans-serif;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: .1rem;
  text-transform: uppercase;  
}

/**
 * Audio/Video
 */
.modal-video,
.modal-audio {
  padding:100px 75px 75px 75px;
  text-align:center;
}
.modal-video h2,
.modal-video h3,
.modal-audio h2, 
.modal-audio h3 {
  color:#ffffff;
  max-width:32rem;
  margin-left:auto;
  margin-right:auto;
}
.modal-video h2 {
  margin-bottom:0;
}
h3.date {
  font-size:2rem;
  letter-spacing:3px;
}
.modal-video video {
  min-height:240px;
}
.video-caption {
  font-family:'Source Sans Pro', 'Helvetica', sans-serif;
  margin-top:1em;
}

/**
 * Splash Cover
 */
.modal-cover {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  width:400px;
  height:300px;  
  overflow:hidden;
  background-color:transparent;
}
.modal-cover.open,
.publisher-tag.open {
  transition: opacity 2s ease-in-out;
  opacity:1;
}
.modal-cover .inner {
  background-color:#b9b5b1;
  /*
  position:relative;
  height:100%;
  padding:225px 25px 0 25px;
  */
  position:relative;
  height:300px;
  padding:0;
  padding-top:50px;
}
.modal-cover h2 {
  font-size:8rem;
  text-align:center;
  color:#a84e15;
  font-weight:normal;
  line-height:.9;
}
.modal-cover .photo-credit {
  font-style:italic;
  color:#000000;
  border-style:solid;
  border-color:#000000;
  border-width:1px 0 1px 0;
  font-size:2.8rem;
  margin:.6em 25px;
  padding:5px 10px;
  text-align:center;
  letter-spacing:-1px;
}
.publisher-tag {
  opacity:0;
  position:absolute;
  bottom:50px;
  width:100%;
  text-align:center;
  font-size:2rem;
  color:#FFF;
  font-weight:bold;
  font-family:'Source Sans Pro', 'Helvetica', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.9);
-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;  
}

/**
 * Portrait mode
 */
.orientation-portrait .modal-left,
.orientation-portrait .modal-right,
.orientation-portrait .modal-audio,
.orientation-portrait .modal-video,
.orientation-portrait .modal-text {
  width:100%;
}

.orientation-portrait .modal-toggle-text {
  top:2rem;
  left:8rem; 
}
.orientation-portrait .modal-toggle-audio {
  top:2rem;
  left:14rem;
}
.orientation-portrait .modal-toggle-video {
  top:2rem;
  left:20rem;
}
.orientation-landscape .modal-toggle-text {
  display:none;
}

